<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/template.css}">
	<script th:src="@{/js/template.js}"></script>
</head>

<body class="container bg-dark text-warning">
	<!-- start codes -->



	<div class="container">
		<div class="row">
			<p class="display-4 mt-4 text-warning">Form</p>
			<form th:action="@{/product/form}" th:object="${key_form}" th:method="post">
				<div class="form-group">
					<input type="text" th:field="*{productName}" class="form-control mb-4" required="required"
						name="productName" id="productName" placeholder="Ürün adını giriniz" autocomplete="name"
						autofocus="autofocus" />
				</div>

				<div class="form-group">
					<input type="text" th:field="*{productCode}" class="form-control mb-4" required="required"
						name="productCode" id="productCode" placeholder="Ürün kodunu giriniz" autocomplete="name" />
				</div>

				<div class="text-center mt-5 mb-5">
					<input type="reset" class="btn btn-danger" value="TEMİZLE" />
					<input type="submit" class="btn btn-primary" value="GÖNDER" />
				</div>
			</form>
		</div>
	</div>




	<!-- ends codes -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>

</html>