<!doctype html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Thymeleaf String</title>

    <!-- Turkce karakter -->
    <meta charset="utf-8">

    <!-- responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- seo -->
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- sorting table -->
    <script src="https://table-sortable.now.sh/table-sortable.js"></script>


    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <link rel="stylesheet"   th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
    
     <link rel="stylesheet"   th:href="@{/css/styles.css}">
        <script th:src="@{/js/data.js}"></script>
         <script th:src="@{/js/table-sortable.js}"></script>


</head>

<body class="container">

    <!-- start codes -->
    <h1 class="text-primary">Thymeleaf1</h1>
    <p th:text="'Merhabalar Thymeleaf'"></p>

    <div class="page-container">
        <div class="container">
            <h1 class="display-4">Table Sortable</h1>
            <h5>A jquery plugin to sort and paginate data in table form</h5>
            <h6>
                <a href="story-latest.html">View full documentation</a>
            </h6>
            <div class="row mt-5 mb-3 align-items-center">
                <div class="col-md-5">
                    <button class="btn btn-primary btn-sm" id="rerender">Re-Render</button>
                    <button class="btn btn-primary btn-sm" id="distory">Distory</button>
                    <button class="btn btn-primary btn-sm" id="refresh">Refresh</button>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="Search in table..." id="searchField">
                </div>
                <div class="col-md-2 text-right">
                  <span class="pr-3">Rows Per Page:</span>
                </div>
                <div class="col-md-2">
                    <div class="d-flex justify-content-end">
                        <select class="custom-select" name="rowsPerPage" id="changeRows">
                            <option value="1">1</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="root"></div>
            <div class="mt-4">
                <button class="btn btn-secondary" id="setPage2">Set Page 2</button>
            </div>
        </div>
    </div>
    
    <script>
        var table = $('#root').tableSortable({
            data: data,
            columns: columns,
            searchField: '#searchField',
            responsive: {
                1100: {
                    columns: {
                        formCode: 'Form Code',
                        formName: 'Form Name',
                    },
                },
            },
            rowsPerPage: 5,
            pagination: true,
            tableWillMount: function() {
                console.log('table will mount')
            },
            tableDidMount: function() {
                console.log('table did mount')
            },
            tableWillUpdate: function() {console.log('table will update')},
            tableDidUpdate: function() {console.log('table did update')},
            tableWillUnmount: function() {console.log('table will unmount')},
            tableDidUnmount: function() {console.log('table did unmount')},
            onPaginationChange: function(nextPage, setPage) {
                setPage(nextPage);
            }
        });

        $('#changeRows').on('change', function() {
            table.updateRowsPerPage(parseInt($(this).val(), 10));
        })

        $('#rerender').click(function() {
            table.refresh(true);
        })

        $('#distory').click(function() {
            table.distroy();
        })

        $('#refresh').click(function() {
            table.refresh();
        })

        $('#setPage2').click(function() {
            table.setPage(1);
        })
    </script>


    <!-- ends codes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>